.Form {
  color: aliceblue;
}

.input_label {
  color: aliceblue;
  position: flex;
}

::placeholder {
  color: rgba(240, 248, 255, 0.719);
}

.input_field{
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: aliceblue;
  border: 1px solid aliceblue;
  outline: none;
  background: none;
  padding: 10px;
  border-radius: 10px;
}

.boxed{
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 11px;
  border: 1px solid red;
  border-radius: 10px;
  background-color: rgba(255, 120, 120, 0.25);
  align-items: center;
  text-align: justify;
}

.flex-parent-element {
  display: flex;
}

.flex-child-element {
  font-size: 15px;
  flex: 1;
  margin: 0;
}

h{
  font-size: 30px;
}

.gapped {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}