.Form {
    color: aliceblue;
    background-color: #36393e;
}

input { /*pa los input xd*/
    width: 100%;
    background-color: white;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }