.Form {
  color: #e4e4e4;
  font-size: 18px;
}

.input_label {
  color: #e4e4e4;
  position: flex;
}

::placeholder {
  color: #cdcdcd;
}

.input_field {
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #5168F4;
  border: 1px solid #5168F4;
  outline: none;
  background: none;
  padding: .8em 1.2em;
  border-radius: 10px;
}

.error {
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: .8rem 1.2rem;
  border: 1px solid #f23751;
  border-radius: 10px;
  background-color: #a8172b70;
  align-items: center;
  text-align: justify;
}

.examples {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 28px;
  margin: 0;
}
.gapped {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}
