.App {
  display: flex;
  flex-wrap: wrap; /* Optional. only if you want the items to wrap */
  justify-content: center; /* For horizontal alignment */
  min-height: 100vh;
  justify-content: center;
  background-color: #17181C; /*COLOR DE FONDO*/
  padding: 10vh 0;
}

.Container {
  margin: 0;
  width: calc(100% / 5);
  background-color: #1D1E22;
  box-shadow: 0px 0px 5px 3px #1e2124;
  height: 100%;
  padding: 2.5em;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
